@font-face {
  font-family: beaufortForLOL-Bold;
  src: url(../fonts/beaufort-for-lol/BeaufortforLOL-Bold.ttf);
}
@font-face {
  font-family: beaufortForLOL-BoldItalic;
  src: url(../fonts/beaufort-for-lol/BeaufortforLOL-BoldItalic.ttf);
}
@font-face {
  font-family: beaufortForLOL-Heavy;
  src: url(../fonts/beaufort-for-lol/BeaufortforLOL-Heavy.ttf);
}
@font-face {
  font-family: beaufortForLOL-HeavyItalic;
  src: url(../fonts/beaufort-for-lol/BeaufortforLOL-HeavyItalic.ttf);
}
@font-face {
  font-family: beaufortForLOL-Italic;
  src: url(../fonts/beaufort-for-lol/BeaufortforLOL-Italic.ttf);
}
@font-face {
  font-family: beaufortForLOL-Light;
  src: url(../fonts/beaufort-for-lol/BeaufortforLOL-Light.ttf);
}
@font-face {
  font-family: beaufortForLOL-LightItalic;
  src: url(../fonts/beaufort-for-lol/BeaufortforLOL-LightItalic.ttf);
}
@font-face {
  font-family: beaufortForLOL-Medium;
  src: url(../fonts/beaufort-for-lol/BeaufortforLOL-Medium.ttf);
}
@font-face {
  font-family: beaufortForLOL-MediumItalic;
  src: url(../fonts/beaufort-for-lol/BeaufortforLOL-MediumItalic.ttf);
}
@font-face {
  font-family: beaufortForLOL-Regular;
  src: url(../fonts/beaufort-for-lol/BeaufortforLOL-Regular.ttf);
}
